{% extends 'flatpages/default.html' %}
 
{% block title %} News {% endblock title %}
 
{% block content %}
<h2>Вы действительно хотите удалить данную статью?</h2>
<table>
    <thead>
        <th>
            Автор
        </th>
        <th>
            Заголовок
        </th>

    </thead>
    <tr>
        <td>
            {{ post.author.user.username }}
        </td>
        <td>
            {{ post.head }}
        </td>
    </tr>
</table>
 
<form method="POST">
    {% csrf_token %}
    <input type="submit" value="подтвердить"></form>
{% endblock content %} 