{% extends 'flatpages/default.html' %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <hr>
   {% if products %}
       <table>
           <tr>
               <td><h5>Заголовок</h5></td>
               <td><h5>Дата публикации</h5></td>
               <td><h5>Превью</h5></td>
           </tr>
           {% for product in products %}
           <tr>
               <td>{{ product.head }}</td>
               <td>{{ product.time_create|date:'d M Y' }}</td>
               <td>{{ product.text|truncatechars:20 }}</td>
           </tr>
           {% endfor %}

       </table>
{% if is_paginated %}

     {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}
   {% else %}
       <h2>Товаров нет!</h2>
   {% endif %}
{% endblock content %}